@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Roboto', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;
  --color-clickmeet-black: #1e1e1e;
  --color-clickmeet-orange: #ff7700;
}

body {
  font-family: Roboto, sans-serif;
}
